* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(0, 133, 110);
    --secondary-color: rgb(148, 185, 255);
    --img-color: rgb(1, 56, 159);
    --headline: rgb(255, 255, 255);
    --paragraph: rgb(255, 255, 255);
    --backgroud-white: rgb(255, 255, 255);
    --whats-color: rgb(0, 133, 110);
    --border-black: rgb(0, 0, 0);


    font-size: 62.5%; /* 1 rem = 10px*/
}

html {
    scroll-behavior: smooth;
}

html,
body {
    
    font-family: 'DM Sans';
    font-size: 1.6rem;

    text-align: center;

    background-color: var(--img-color);

}

header {
    width: 40rem;
    
    margin-right: auto;
    margin-left: auto;
  
    margin-top: 4.3rem;
    
}

h1 {
    width: 40rem;

    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;

    margin-bottom: 1.2rem;
}

h2 {
    font-size: 2.9rem;
    color: var(--headline);
    line-height: 110%;

    margin-bottom: 2rem;

}

h3 {
    font-size: 2rem;
    color: var(--headline);
    line-height: 110%;

    margin-bottom: 1.6rem;
}

p {
    width: 40rem;
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--headline);
    margin-bottom: 3.2rem;
}

.img-fundo {
    width: 200;
    height: 100%;
    background-image: url('../imagens/img-fundo.svg');
    background-size: cover;
    background-position: center center;
}

.img-graphic-celular {
    width: 40rem;
    height: 25rem;
    margin-inline: auto;
    margin-bottom: 3.2rem;
   
}

section.sobre-celular h1,
section.sobre-celular h2,
section.sobre-celular h3,
section.sobre-celular p {
    color: var(--img-color);    
    
}

section.sobre-celular {
    background-color: var(--backgroud-white);

}

button {
    color: white;
    background-color: var(--whats-color);
    border: none;
    border-radius: 4rem;
    margin-bottom: 6rem;
    
    height: 6.2rem;
    width: 27rem;
    font-family: 'DM Sans';  
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-left: auto;
    margin-right: auto;

}

.sobre-celular {
    width: 40rem;
    height: 130rem;

    margin-inline: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 0.4rem solid var(--border-black);
    border-radius: 2rem;

}

.sobre-celular-info {
    width: 37rem;

    border: 0.4rem solid var(--secondary-color);
    border-radius: 2rem;

    margin-inline: auto;

}

.sobre-celular-info h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem 2rem;

} 

.sobre-celular-info p {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 35rem;

    font-family: 'DM Sans';  
    font-size: 1.8rem;

    margin-inline: auto;

}

.nossa-quipe-celular {
    margin-bottom: 3.2rem;
    background-color: var(--secondary-color);
}

.produto-servico-celular {
    background-color: var(--secondary-color);
}


.portfolio-celular {
    width: 40rem;

    margin-top: 3rem;
    background-color: var(--backgroud-white);

    border: 0.4rem solid var(--border-black);
    border-radius: 2rem;
}

.portfolio-celular h2 {
    color: var(--img-color);
    margin-top: 3rem;
    
}

.img-portfolio-celular img {
    margin: 3rem auto;
    transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos no transform */
}

.img-portfolio-celular:hover img {
    transform: translateY(-20px); /* Move a imagem 20 pixels para cima quando o mouse estiver sobre ela */
}